
.containerabout
{
 /* background-color: rgb(137, 135, 132);*/
  width: fit-content;
  height: auto;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgb(205, 199, 199);
 padding: 5px;
 margin: 20px;
margin-top: 50px;
font-size: 18px;

}
.containerabout .fw-bold
{
  text-align: center;
  margin-bottom: 15px;
}